.Caja{
margin: auto;
margin-top: 10px;
width: 1500px;
height: 730px;
background-color: rgb(7, 4, 4);
}

div#recibo{
float: right;
width: 300px;
height: 730px;
background-color:#c2c1c1 ;
}

div#productos{
float: none;
height: 730px;
background-color:#a92323 ;
margin-left: auto;
width: 880px;
margin-right: auto;
}

div#botones{
float: left;
width: 300px;
height: 730px;
background-color:#c2c1c1 ;
}
div#Espacio{
    width: 300px;
    height: 30px; 
}